//Font Family
$main-font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;

//Colors
$background:    #f6f0e2;
$copy-dark:     #110400;
$copy-sec:      #94918a;
$highlight:     #cab276;

$white:         #fff;
$grey:          #666;
$grey-light:    #ccc;
$black:         #000;

$main-bg:       #f3f3f3;

$footer-bg:     $copy-dark;
$footer-copy:   #aaa;
